* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    display: flex;
    justify-content: center;
    align-items: center;
}